#d3{
    color: chartreuse;
    font-size: 30px;
}
#d1{
    color: chartreuse;
    font-size: 30px;
}
/* 优先于内部样式表 */
#d5{
    color: chartreuse;
    font-size: 30px;
}
/* 派生选择器，body裏的d1（更改複雜度也可以提升優先級） */
body #d1{
    color: green;
    font-size: 30px;
}
/* 并列选择器，既是div又是d1，複雜度最高，優先級也最高 */
div#d1{
    color: orange;
    font-size: 30px;
}